API_PORT=
API_SECRET=
# Starts with capital letter (as boolean type in python)
API_DEBUG=True
ADMINER_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# because docker-compose uses this service name
POSTGRES_HOST=postgres
POSTGRES_PORT=
# because docker-compose uses this service name
REDIS_HOST=redis
REDIS_PORT=
REDIS_DB=
JWT_EXPIRES_IN_MINUTES=
REFRESH_EXPIRES_IN_DAYS=